@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root {

  --color1: rgba(64, 63, 76, 1);
  --color2: rgba(232, 72, 85, 1);
  --color3: rgba(249, 220, 92, 1);
  --color4: rgba(160, 26, 125, 1);
  --color5: rgba(49, 24, 71, 1);

  font-family: 'Roboto';
  font-size: 16px;

}


html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

header {
  font-size: 2rem;
  padding: 5rem 2rem;
  background: var(--color5);
  color: #fff;
}

section {
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.counter {
  text-align: right;
  font-size: 1.2rem;
}

.list-item {
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--color4);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.list-item svg,
.modal svg {
  height: 2rem;
  width: auto;
  cursor: pointer;
}

.list-item div:first-child {
  flex-grow: 2;
}

.load-more {
  margin: 2rem auto;
  display: block;

  border: none;
  background: var(--color4);
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.list-item, .load-more {
  cursor: pointer;
}

.modal {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 12px 5px rgba(0,0,0,0.4);
  box-sizing: border-box;
  border: 2px solid var(--color2);
}

.modal-title,
.modal-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.modal-title {
  background: var(--color2);
  align-items: center;
  color: #fff;
}
.modal-title div {
  padding: 0.5rem;
}

.modal-title div:first-child {
  flex-grow: 2;
}

.modal-body {
  padding: 1rem;
}
.modal-body .description {
  padding-left: 1rem;
}
footer {
  padding: 5rem 2rem;
  background: var(--color5);
  color: #fff;
}
